body {
    background-color: #FBFBEF;
}
#main-doc {
    margin-left: 300px;
    padding:10px;

}

#code {
    background-color: lightgray;
    padding: 50px;
}


#navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F7F8E0;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    width:250px;
}

    #navbar header h1 {

     padding:10px;
     position:center;



    }

    #navbar a {
        text-decoration: none;
        display: block;
        border-top: 1px solid;
        line-height: 50px;
        padding-left: 10px;
        color: darkslategray;
        font-weight: 700;
    }
    

    @media(max-width:900px)
    {
        #main-doc {
            margin-top:450px;
            padding: 10px;
        }

        #navbar {
            position: fixed;
            background-color: lightgoldenrodyellow;
            border-bottom: 1px solid;
            display:flex;
            flex-direction: column;
            padding: 10px;
            height: 250px;
            width: 100%;
           
            margin:10px;
        }
        #link {
            overflow-y: scroll;
        }

            #navbar header h1 {
                padding: 10px;
                position: center;
            }

            #navbar a {
                text-decoration: none;
                display: block;
                border-top: 1px solid;
                line-height: 50px;
                padding-left: 10px;
                color: darkslategray;
                font-weight: 700;
            }



    }
